# Tutorial: Extract and Calculate PowerBI Measures from Jupyter Notebook
This notebook illustrates how to use SemPy to calculate measures in PowerBI datasets.

### In this tutorial, you learn how to:
- Apply domain knowledge to formulate hypotheses about functional dependencies in a dataset;
- Get familiarized with components of Semantic Link's Python library ([SemPy](https://learn.microsoft.com/en-us/python/api/semantic-link-sempy)) that helps to bridge the gap between AI and BI. These components include:
    - FabricDataFrame - a pandas-like structure enhanced with additional semantic information;
    - Useful functions that allow you to fetch PowerBI datasets, including raw data, configuration and measures.

### Prerequisites

* A [Microsoft Fabric subscription](https://learn.microsoft.com/fabric/enterprise/licenses). Or sign up for a free [Microsoft Fabric (Preview) trial](https://learn.microsoft.com/fabric/get-started/fabric-trial).
* Sign in to [Microsoft Fabric](https://fabric.microsoft.com/).
* Go to the Data Science experience in Microsoft Fabric.
* Select **Workspaces** from the left navigation pane to find and select your workspace. This workspace becomes your current workspace.
* Download the _Retail Analysis Sample PBIX.pbix_ dataset from the [fabric-samples GitHub repository](https://github.com/microsoft/fabric-samples/blob/09cb40f1ffe0a7cfec67ec0ba2fcfdc95ba750a8/docs-samples/data-science/datasets/Customer%20Profitability%20Sample.pbix) and upload it to your workspace.
* Open your notebook. You have two options:
    * [Import this notebook into your workspace](https://learn.microsoft.com/en-us/fabric/data-engineering/how-to-use-notebook#import-existing-notebooks). You can import from the Data Science homepage.
    * Alternatively, you can create [a new notebook](https://learn.microsoft.com/fabric/data-engineering/how-to-use-notebook#create-notebooks) to copy/paste code into cells.
* In the Lakehouse explorer section of your notebook, add a new or existing lakehouse to your notebook. For more information on how to add a lakehouse, see [Attach a lakehouse to your notebook](https://learn.microsoft.com/en-us/fabric/data-science/tutorial-data-science-prepare-system#attach-a-lakehouse-to-the-notebooks).

## Set up the notebook

In this section, you'll set up a notebook environment with the necessary modules and data.

First, install `SemPy` from PyPI using pip magic command:

In [1]:
%pip install semantic-link

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, -1, Finished, Available)

Collecting semantic-link
  Downloading semantic_link-0.3.1-py3-none-any.whl (8.1 kB)
Collecting semantic-link-functions-phonenumbers==0.3.1
  Downloading semantic_link_functions_phonenumbers-0.3.1-py3-none-any.whl (4.3 kB)
Collecting semantic-link-sempy==0.3.1
  Downloading semantic_link_sempy-0.3.1-py3-none-any.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 65.9 MB/s eta 0:00:00a 0:00:01
Collecting semantic-link-functions-meteostat==0.3.1
  Downloading semantic_link_functions_meteostat-0.3.1-py3-none-any.whl (4.5 kB)
Collecting semantic-link-functions-holidays==0.3.1
  Downloading semantic_link_functions_holidays-0.3.1-py3-none-any.whl (4.2 kB)
Collecting semantic-link-functions-validators==0.3.1
  Downloading semantic_link_functions_validators-0.3.1-py3-none-any.whl (4.7 kB)
Collecting semantic-link-functions-geopandas==0.3.1
  Downloading semantic_link_functions_geopandas-0.3.1-py3-none-any.whl (4.0 kB)
Collecting mapclassify
  Downloading mapclassify-2.6.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 kB 17.5 MB/s eta 0:00:00
Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.3/102.3 kB 56.4 MB/s eta 0:00:00
Collecting geopandas
  Downloading geopandas-0.13.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 151.6 MB/s eta 0:00:00
Collecting holidays
  Downloading holidays-0.32-py3-none-any.whl (754 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 754.4/754.4 kB 147.7 MB/s eta 0:00:00
Collecting meteostat
  Downloading meteostat-1.6.5-py3-none-any.whl (31 kB)
Collecting phonenumbers
  Downloading phonenumbers-8.13.20-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 165.1 MB/s eta 0:00:00
Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Collecting pythonnet==3.0.1
  Downloading pythonnet-3.0.1-py3-none-any.whl (284 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 284.5/284.5 kB 101.8 MB/s eta 0:00:00
Collecting clr-loader<0.3.0,>=0.2.2
  Downloading clr_loader-0.2.6-py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.3/51.3 kB 27.7 MB/s eta 0:00:00
Requirement already satisfied: requests in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.28.2)
Requirement already satisfied: jinja2>=2.9 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.1.2)
Requirement already satisfied: numpy in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.23.5)
Collecting branca>=0.6.0
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Collecting shapely>=1.7.1
  Downloading shapely-2.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 185.9 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.5.3)
Collecting fiona>=1.8.19
  Downloading Fiona-1.9.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 132.9 MB/s eta 0:00:0000:0100:01
Collecting pyproj>=3.0.1
  Downloading pyproj-3.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 180.5 MB/s eta 0:00:0000:01
Requirement already satisfied: packaging in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (21.3)
Requirement already satisfied: python-dateutil in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from holidays->semantic-link-functions-holidays==0.3.1->semantic-link) (2.8.2)
Requirement already satisfied: scikit-learn in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.2.0)
Requirement already satisfied: scipy>=1.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.10.1)
Collecting networkx
  Downloading networkx-3.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 179.1 MB/s eta 0:00:00
Requirement already satisfied: pytz in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from meteostat->semantic-link-functions-meteostat==0.3.1->semantic-link) (2022.7.1)
Requirement already satisfied: cffi>=1.13 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from clr-loader<0.3.0,>=0.2.2->pythonnet==3.0.1->semantic-link-sempy==0.3.1->semantic-link) (1.15.1)
Requirement already satisfied: certifi in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (2022.12.7)
Requirement already satisfied: click~=8.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (8.1.3)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=19.2.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (22.2.0)
Requirement already satisfied: six in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from jinja2>=2.9->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.1.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from packaging->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from scikit-learn->mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from scikit-learn->mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.2.0)
Requirement already satisfied: pycparser in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from cffi>=1.13->clr-loader<0.3.0,>=0.2.2->pythonnet==3.0.1->semantic-link-sempy==0.3.1->semantic-link) (2.21)
Installing collected packages: phonenumbers, validators, shapely, pyproj, networkx, cligj, click-plugins, holidays, fiona, clr-loader, branca, pythonnet, meteostat, mapclassify, geopandas, folium, semantic-link-sempy, semantic-link-functions-validators, semantic-link-functions-phonenumbers, semantic-link-functions-meteostat, semantic-link-functions-holidays, semantic-link-functions-geopandas, semantic-link
Successfully installed branca-0.6.0 click-plugins-1.1.1 cligj-0.7.2 clr-loader-0.2.6 fiona-1.9.4.post1 folium-0.14.0 geopandas-0.13.2 holidays-0.32 mapclassify-2.6.0 meteostat-1.6.5 networkx-3.1 phonenumbers-8.13.20 pyproj-3.6.0 pythonnet-3.0.1 semantic-link-0.3.1 semantic-link-functions-geopandas-0.3.1 semantic-link-functions-holidays-0.3.1 semantic-link-functions-meteostat-0.3.1 semantic-link-functions-phonenumbers-0.3.1 semantic-link-functions-validators-0.3.1 semantic-link-sempy-0.3.1 shapely-2.0.1 validators-0.22.0

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: /nfs4/pyenv-f9442d8d-84bc-4863-b63b-0a7794d2f95c/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Warning: PySpark kernel has been restarted to use updated packages.

Then, perform necessary imports of modules that you'll need later on:

In [2]:
import sempy.fabric as fabric

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 9, Finished, Available)

We can connect to the PowerBI Workspace.

In [3]:
fabric.list_datasets()

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 10, Finished, Available)

,Dataset Name,Dataset ID,Created Timestamp,Last Update
0,Customer Profitability Sample,5efc976e-272a-4f9d-a20f-8f27f4036428,2014-07-22 03:50:22,0001-01-01 00:00:00
1,Retail Analysis Sample PBIX,52f903b2-aa50-45ea-809d-d47800494464,2014-05-30 20:16:22,0001-01-01 00:00:00

In this example, we use the Retail Analysis Sample PBIX:

In [4]:
dataset = "Retail Analysis Sample PBIX"

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 11, Finished, Available)

## List Workspace Measures

Start by listing measures in the dataset using SemPy's `list_measures` function as follows:

In [5]:
fabric.list_measures(dataset)

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 12, Finished, Available)

,Table Name,Measure Name,Measure Expression,Measure Data Type
0,Store,Average Selling Area Size,AVERAGE([SellingAreaSize]),Double
1,Store,New Stores,"CALCULATE(COUNTA([Store Type]), FILTER(ALL(Sto...",Int64
2,Store,New Stores Target,14,Int64
3,Store,Total Stores,COUNTA([StoreNumberName]),Int64
4,Store,Open Store Count,COUNTA([OpenDate]),Int64
5,Store,Count of OpenDate,COUNTA('Store'[OpenDate]),Int64
6,Sales,Regular_Sales_Dollars,SUM([Sum_Regular_Sales_Dollars]),Double
7,Sales,Markdown_Sales_Dollars,SUM([Sum_Markdown_Sales_Dollars]),Double
8,Sales,TotalSales,[Regular_Sales_Dollars]+[Markdown_Sales_Dollars],Double
9,Sales,TotalSalesLY,"CALCULATE([TotalSales], Sales[ScenarioID]=2)",Double
10,Sales,Gross Margin This Year,"CALCULATE(SUM([Sum_GrossMarginAmount]), Sales[...",Double
11,Sales,Gross Margin This Year %,[Gross Margin This Year]/[TotalSalesTY],Double
12,Sales,Gross Margin Last Year,"CALCULATE(SUM([Sum_GrossMarginAmount]), Sales[...",Double
13,Sales,Gross Margin Last Year %,[Gross Margin Last Year]/[TotalSalesLY],Double
14,Sales,Regular_Sales_Units,SUM([Sum_Regular_Sales_Units]),Double
15,Sales,Markdown_Sales_Units,SUM([Sum_Markdown_Sales_Units]),Double
16,Sales,TotalUnits,[Regular_Sales_Units]+[Markdown_Sales_Units],Double
17,Sales,Total Units Last Year,"CALCULATE([TotalUnits], Sales[ScenarioID]=2)",Double
18,Sales,Total Units This Year,"CALCULATE([TotalUnits], Sales[ScenarioID]=1)",Double
19,Sales,Avg $/Unit TY,"IF([Total Units This Year]<>0, [TotalSalesTY]/...",Double
20,Sales,Avg $/Unit LY,"IF([Total Units Last Year]<>0, [TotalSalesLY]/...",Double
21,Sales,Total Sales Var,[TotalSalesTY]-[TotalSalesLY],Double
22,Sales,Total Sales Var %,"IF([TotalSalesLY]<>0, [Total Sales Var]/[Total...",Double
23,Sales,Sales Per Sq Ft,([TotalSalesTY]/(DISTINCTCOUNT([MonthID])*SUM(...,Double
24,Sales,Last Year Sales,[TotalSalesLY],Double
25,Sales,Total Sales Variance,[Total Sales Var],Double
26,Sales,Total Sales Variance %,[Total Sales Var %],Double
27,Sales,Store Count,DISTINCTCOUNT([LocationID]),Int64
28,Sales,Average Unit Price,[Avg $/Unit TY],Double
29,Sales,Average Unit Price Last Year,[Avg $/Unit LY],Double
30,Sales,TotalSalesTY,"CALCULATE([TotalSales], Sales[ScenarioID]=1)",Double
31,Sales,This Year Sales,[TotalSalesTY],Double

## Evaluate Measures

### Evaluate a Raw Measure

In the code below, we use SemPy's function `evaluate_measure` to calculate preconfigured measure that is called "Average Selling Area Size" (its underlying formula can be seen in the output of the cell above) by supplying its name in `measure` parameter:

In [6]:
fabric.evaluate_measure(dataset, measure="Average Selling Area Size")

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 13, Finished, Available)

   Average Selling Area Size
0               24326.923077

### Evaluate a Measure with GroupBy Columns

We can group the measure output by certain columns by supplying additional parameter `groupby_columns`:

In [7]:
fabric.evaluate_measure(dataset, measure="Average Selling Area Size", groupby_columns=[("Store", "Chain"), ("Store", "DistrictName")])

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 14, Finished, Available)

             Chain      DistrictName  Average Selling Area Size
0  Fashions Direct  FD - District #1               43888.888889
1  Fashions Direct  FD - District #2               47777.777778
2  Fashions Direct  FD - District #3                    50000.0
3  Fashions Direct  FD - District #4                    50500.0
4         Lindseys  LI - District #1               10384.615385
5         Lindseys  LI - District #2               10909.090909
6         Lindseys  LI - District #3               10333.333333
7         Lindseys  LI - District #4                    12500.0
8         Lindseys  LI - District #5               11785.714286

In the above example we group by columns "Chain" and "DistrictName" of "Store" table in the dataset.

### Evaluate a Measure with Filters

We can also add filters to specify specific column values the result should be in. Parameter `filters` helps with that and can be used as follows:

In [12]:
fabric.evaluate_measure(dataset, \
                        measure="Total Units Last Year", \
                        groupby_columns=[("Store", "Territory")], \
                        filters={("Store", "Territory"): ["PA", "TN", "VA"], ("Store", "Chain"): ["Lindseys"]})

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 19, Finished, Available)

  Territory  Total Units Last Year
0        PA                  11309
1        TN                  81663
2        VA                 160863

Note that "Store" is the name of the table, "Territory" is the name of the column", and "PA" is one of the values which are allowed by the filter.

### Across Multiple Tables

These groups can span multiple tables in the dataset.

In [9]:
fabric.evaluate_measure(dataset, measure="Total Units Last Year", groupby_columns=[("Store", "Territory"), ("Sales", "ItemID")])

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 16, Finished, Available)

       Territory  ItemID  Total Units Last Year
0             DE   18049                      1
1             DE   18069                      1
2             DE   18079                      1
3             DE   18085                      1
4             DE   18087                      3
...          ...     ...                    ...
178636        WV  244167                     13
178637        WV  244223                      4
178638        WV  244242                      2
178639        WV  244246                      2
178640        WV  244277                     14

[178641 rows x 3 columns]

### Evaluate Multiple Measures

The function `evaluate_measure` allows you to supply multiple identifies of measures, and output the calculated values in the same dataframe as in the self-explanatory example below:

In [10]:
fabric.evaluate_measure(dataset, measure=["Average Selling Area Size", "Total Stores"], groupby_columns=[("Store", "Chain"), ("Store", "DistrictName")])

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 17, Finished, Available)

             Chain      DistrictName  Average Selling Area Size  Total Stores
0  Fashions Direct  FD - District #1               43888.888889             9
1  Fashions Direct  FD - District #2               47777.777778             9
2  Fashions Direct  FD - District #3                    50000.0             9
3  Fashions Direct  FD - District #4                    50500.0            10
4         Lindseys  LI - District #1               10384.615385            13
5         Lindseys  LI - District #2               10909.090909            11
6         Lindseys  LI - District #3               10333.333333            15
7         Lindseys  LI - District #4                    12500.0            14
8         Lindseys  LI - District #5               11785.714286            14

## Use XMLA Connector

The default dataset client is backed by Power BI's REST APIs. If there are any issues running queries with this client, it is possible to switch the backend to Power BI's XMLA interface using `use_xmla=True`. The SemPy parameters remain the same for measure calculation with XMLA.

In [11]:
fabric.evaluate_measure(dataset, \
                        measure=["Average Selling Area Size", "Total Stores"], \
                        groupby_columns=[("Store", "Chain"), ("Store", "DistrictName")], \
                        filters={("Store", "Territory"): ["PA", "TN", "VA"], ("Store", "Chain"): ["Lindseys"]}, \
                        use_xmla=True)

StatementMeta(, 8e64bec4-3b6e-4168-8043-e36dc0cc6b75, 18, Finished, Available)

      Chain      DistrictName  Average Selling Area Size  Total Stores
0  Lindseys  LI - District #2                      11000            10
1  Lindseys  LI - District #5                      12000             5
2  Lindseys  LI - District #1                      10000             1

## Next step

Try using the learned ways of detecting data quality issues on your data and get amazed with the discoveries!

## Related content

Check out other tutorials for Semantic Link / SemPy:
1. Analyze Functional Dependencies in a PowerBI Sample Dataset
1. Discover Relationships in SYNTHEA dataset Using Semantic Link
1. Discover Relationships in a PowerBI Dataset Using Semantic Link
1. Clean Data with Functional Dependencies