# Tutorial: Discover Relationships in SYNTHEA dataset Using Semantic Link

In this tutorial we illustrate relationship detection in the public SYNTHEA dataset with the help of Semantic Link. 

When starting without an existing data model or dealing with new data for the first time, it can be helpful to discover relationships automatically and set the stage for:

   * Understanding the model at high level and further exploratory data analysis,
   * Validation of updated data or new incoming data,
   * Data cleaning.

Even if relationships are known in advance, a relationships search can help with better understanding of the model or identification of data quality issues. 

We will start from a simple baseline example where we experiment with only 3 tables so that connections between them are easy to follow. Then we will show a more complex example with a larger table set.

### In this tutorial, you learn how to: 
- Use components of Semantic Link's Python library (SemPy) that supports integration with Power BI and helps to automate data  analysis. These components include:
    - FabricDataFrame - a pandas-like structure enhanced with additional semantic information;
    - Functions for pulling Power BI datasets from a Fabric workspace into your notebook;
    - Functions that automate the discovery and visualization of relationships in your datasets.
- Troubleshoot the process of relationship discovery for datasets with multiple tables and interdependencies.

### Prerequisites

* A [Microsoft Fabric subscription](https://learn.microsoft.com/fabric/enterprise/licenses). Or sign up for a free [Microsoft Fabric (Preview) trial](https://learn.microsoft.com/fabric/get-started/fabric-trial).
* Sign in to [Microsoft Fabric](https://fabric.microsoft.com/).
* Go to the Data Science experience in Microsoft Fabric.
* Select **Workspaces** from the left navigation pane to find and select your workspace. This workspace becomes your current workspace.
* Download the _Customer Profitability Sample.pbix_ and _'Customer Profitability Sample PBIX (auto)_ datasets from the [fabric-samples GitHub repository](https://github.com/microsoft/fabric-samples/blob/09cb40f1ffe0a7cfec67ec0ba2fcfdc95ba750a8/docs-samples/data-science/datasets/Customer%20Profitability%20Sample.pbix) and upload them to your workspace.
* Open your notebook. You have two options:
    * [Import this notebook into your workspace](https://learn.microsoft.com/en-us/fabric/data-engineering/how-to-use-notebook#import-existing-notebooks). You can import from the Data Science homepage.
    * Alternatively, you can create [a new notebook](https://learn.microsoft.com/fabric/data-engineering/how-to-use-notebook#create-notebooks) to copy/paste code into cells.
* In the Lakehouse explorer section of your notebook, add a new or existing lakehouse to your notebook. For more information on how to add a lakehouse, see [Attach a lakehouse to your notebook](https://learn.microsoft.com/en-us/fabric/data-science/tutorial-data-science-prepare-system#attach-a-lakehouse-to-the-notebooks).

## Set up the notebook

In this section, you'll set up a notebook environment with the necessary modules and data.

First, install `SemPy` from PyPI using pip magic command:

In [1]:
%pip install semantic-link

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, -1, Finished, Available)

Collecting semantic-link
  Downloading semantic_link-0.3.1-py3-none-any.whl (8.1 kB)
Collecting semantic-link-functions-validators==0.3.1
  Downloading semantic_link_functions_validators-0.3.1-py3-none-any.whl (4.7 kB)
Collecting semantic-link-sempy==0.3.1
  Downloading semantic_link_sempy-0.3.1-py3-none-any.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 16.1 MB/s eta 0:00:0000:010:01
Collecting semantic-link-functions-meteostat==0.3.1
  Downloading semantic_link_functions_meteostat-0.3.1-py3-none-any.whl (4.5 kB)
Collecting semantic-link-functions-holidays==0.3.1
  Downloading semantic_link_functions_holidays-0.3.1-py3-none-any.whl (4.2 kB)
Collecting semantic-link-functions-geopandas==0.3.1
  Downloading semantic_link_functions_geopandas-0.3.1-py3-none-any.whl (4.0 kB)
Collecting semantic-link-functions-phonenumbers==0.3.1
  Downloading semantic_link_functions_phonenumbers-0.3.1-py3-none-any.whl (4.3 kB)
Collecting mapclassify
  Downloading mapclassify-2.6.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 kB 6.9 MB/s eta 0:00:00
Collecting geopandas
  Downloading geopandas-0.13.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 150.4 MB/s eta 0:00:00
Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.3/102.3 kB 51.0 MB/s eta 0:00:00
Collecting holidays
  Downloading holidays-0.32-py3-none-any.whl (754 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 754.4/754.4 kB 148.5 MB/s eta 0:00:00
Collecting meteostat
  Downloading meteostat-1.6.5-py3-none-any.whl (31 kB)
Collecting phonenumbers
  Downloading phonenumbers-8.13.19-py2.py3-none-any.whl (2.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 34.2 MB/s eta 0:00:0000:01:00:01
Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Collecting pythonnet==3.0.1
  Downloading pythonnet-3.0.1-py3-none-any.whl (284 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 284.5/284.5 kB 90.6 MB/s eta 0:00:00
Collecting clr-loader<0.3.0,>=0.2.2
  Downloading clr_loader-0.2.6-py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.3/51.3 kB 25.0 MB/s eta 0:00:00
Requirement already satisfied: numpy in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.23.5)
Requirement already satisfied: requests in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.28.2)
Requirement already satisfied: jinja2>=2.9 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.1.2)
Collecting branca>=0.6.0
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Collecting fiona>=1.8.19
  Downloading Fiona-1.9.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 78.2 MB/s eta 0:00:0000:0100:01
Collecting pyproj>=3.0.1
  Downloading pyproj-3.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 95.2 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pandas>=1.1.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.5.3)
Requirement already satisfied: packaging in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (21.3)
Collecting shapely>=1.7.1
  Downloading shapely-2.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 140.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from holidays->semantic-link-functions-holidays==0.3.1->semantic-link) (2.8.2)
Collecting networkx
  Downloading networkx-3.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 131.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.10.1)
Requirement already satisfied: scikit-learn in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.2.0)
Requirement already satisfied: pytz in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from meteostat->semantic-link-functions-meteostat==0.3.1->semantic-link) (2022.7.1)
Requirement already satisfied: cffi>=1.13 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from clr-loader<0.3.0,>=0.2.2->pythonnet==3.0.1->semantic-link-sempy==0.3.1->semantic-link) (1.15.1)
Requirement already satisfied: certifi in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (2022.12.7)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=19.2.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (22.2.0)
Requirement already satisfied: six in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.16.0)
Requirement already satisfied: click~=8.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from jinja2>=2.9->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.1.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from packaging->geopandas->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from requests->folium->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from scikit-learn->mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from scikit-learn->mapclassify->semantic-link-functions-geopandas==0.3.1->semantic-link) (1.2.0)
Requirement already satisfied: pycparser in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from cffi>=1.13->clr-loader<0.3.0,>=0.2.2->pythonnet==3.0.1->semantic-link-sempy==0.3.1->semantic-link) (2.21)
Installing collected packages: phonenumbers, validators, shapely, pyproj, networkx, cligj, click-plugins, holidays, fiona, clr-loader, branca, pythonnet, meteostat, mapclassify, geopandas, folium, semantic-link-sempy, semantic-link-functions-validators, semantic-link-functions-phonenumbers, semantic-link-functions-meteostat, semantic-link-functions-holidays, semantic-link-functions-geopandas, semantic-link
Successfully installed branca-0.6.0 click-plugins-1.1.1 cligj-0.7.2 clr-loader-0.2.6 fiona-1.9.4.post1 folium-0.14.0 geopandas-0.13.2 holidays-0.32 mapclassify-2.6.0 meteostat-1.6.5 networkx-3.1 phonenumbers-8.13.19 pyproj-3.6.0 pythonnet-3.0.1 semantic-link-0.3.1 semantic-link-functions-geopandas-0.3.1 semantic-link-functions-holidays-0.3.1 semantic-link-functions-meteostat-0.3.1 semantic-link-functions-phonenumbers-0.3.1 semantic-link-functions-validators-0.3.1 semantic-link-sempy-0.3.1 shapely-2.0.1 validators-0.22.0

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: /nfs4/pyenv-e1b0b4f8-c725-4833-92e4-e985bdad9a9a/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Warning: PySpark kernel has been restarted to use updated packages.

Then, perform necessary imports of SemPy modules as well as pandas that will be needed later on:

In [2]:
import pandas as pd

from sempy.samples import download_synthea
from sempy.relationships import (
    find_relationships,
    list_relationship_violations,
    plot_relationship_metadata
)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 9, Finished, Available)

Also import pandas for enforcing a configuration option that will help with output formatting:

In [3]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 10, Finished, Available)

Lastly, pull the sample data - for this tutorial, you'll use the SYNTHEA dataset of synthetic medical records (small version for simplicity):

In [4]:
download_synthea(which='small')

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 11, Finished, Available)

'abfss://1895b289-58e6-4ccb-8548-b5ef3dc312b3@msit-onelake.dfs.fabric.microsoft.com/11631641-5456-4f90-90b3-431e0cf03650/Files/synthea/csv'

## Detect Relationships on a Small Subset of SYNTHEA Tables

Select 3 tables from a larger set. The practical meaning of these tables is that 'encounters' (e.g. a medical appointment, procedure) specifies the 'patients' that these encounters were for, as well as the 'providers' who attended the patients. In other words 'encounters' resolves a many-to-many relationship between 'patients' and 'providers' and can be thought of as an [Associative Entity](https://wikipedia.org/wiki/Associative_entity):

In [5]:
patients = pd.read_csv('synthea/csv/patients.csv')
providers = pd.read_csv('synthea/csv/providers.csv')
encounters = pd.read_csv('synthea/csv/encounters.csv')

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 12, Finished, Available)

Find relationships between the tables using  SemPy's ``find_relationships`` function:

In [6]:
suggested_relationships = find_relationships([patients, providers, encounters])
suggested_relationships

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 13, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:1,encounters,PATIENT,patients,Id,1.0,1.000000,0,0,1171,1171,53346,1171
1,m:1,encounters,PROVIDER,providers,Id,1.0,0.188557,0,0,1104,5855,53346,5855

We can visualize the relationships dataframe as a graph with another function from SemPy library called ``plot_relationship_metadata``. The function lays out the hierarchy from left to right, which corresponds to "from" and "to" tables in our detection output. In other words, the independent "from" tables on the left point with their foreign keys to their "to" dependency tables on the right. Each entity box shows columns that participate on either "from" or "to" side of a relationship.

In [7]:
plot_relationship_metadata(suggested_relationships)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 14, Finished, Available)

By default, relationships are generated as "m:1" (not as "1:m") or "1:1". The "1:1" relationships can be generated one or both ways, depending if the ratio of mapped values to all values exceed coverage_threshold in just one or both directions. Later in this notebook, we will discuss the less frequent case of "m:m" relationships.

## Troubleshoot Relationship Detection Issues

The baseline example shows a successful relationship detection on clean SYNTHEA data. In practice, the data is rarely clean, which will prevent successful detection. There are several techniques that can help us in this situation. To understand them, in this part of the tutorial we create a dataset by manipulating original dataframes to obtain "dirty" data.

In [8]:
# create a dirty 'patients' dataframe by dropping some rows using head() and duplicate some using concat()
patients_dirty = pd.concat([patients.head(1000), patients.head(50)], axis=0)

# create a dirty 'providers' dataframe by dropping some rows using head()
providers_dirty = providers.head(5000)

# the dirty dataframes have less records than the clean ones
print(len(patients_dirty))
print(len(providers_dirty))

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 15, Finished, Available)

1050
5000

For comparison, print sizes of the original tables:

In [9]:
print(len(patients))
print(len(providers))

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 16, Finished, Available)

1171
5855

Find relationships between the tables using  SemPy's ``find_relationships`` function:

In [10]:
find_relationships([patients_dirty, providers_dirty, encounters])

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 17, Finished, Available)

No relationships found

Empty DataFrame
Columns: [Multiplicity, From Table, From Column, To Table, To Column, Coverage From, Coverage To, Null Count From, Null Count To, Unique Count From, Unique Count To, Row Count From, Row Count To]
Index: []

As you can see above, no relationships have been detected due to the errors that we had introduced earlier.

### Use Validation

Validation is the best tool for troubleshooting detection failures because:

   * it will report clearly why a particular relationship does not follow the Foreign Key rules and therefore cannot be detected
   * it runs very fast with large datasets because it focuses only on the declared relationships and does not perform search

Validation can use any dataframe with columns similar to the one generated by `find_relationships`. Our `suggested_realtionship` dataframe refers to 'patients' rather than 'patients_dirty' but we can alias the dataframes with a dictionary:

In [11]:
dirty_tables = {
    "patients": patients_dirty,
    "providers" : providers_dirty,
    "encounters": encounters
}

errors = list_relationship_violations(dirty_tables, suggested_relationships)
errors

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 18, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Type,Message
0,m:1,encounters,PATIENT,patients,Id,target not PK,patients[Id] not unique
1,m:1,encounters,PATIENT,patients,Id,partial join,"171 out of 1171 values in encounters[PATIENT] not present in patients[Id]: 19d2cfb8-439b-454a-b47e-5274c219005b,278c5ad9-1e68-45f5-b274-0bdbb60569be,3727f482-9fc1-4d26-8778-01b1b745e037,80a7bc09-bbee-476b-9b3f-e44984c96ca1,13c98b78-98e9-41fb-a29a-686d005d98f7,1e52e4fe-13c7-41ad-8b3e-5933fdd553c4,c868a615-b3a7-44c6-ad66-d06b2909d689,0e297a18-1dcc-43a3-b78a-0ca8d07e59bc,92b4bd25-f752-49fe-b248-a3e4b0e89d2a,f290b494-c6de-40ee-98a3-ebb9d43cfd70,..."
2,m:1,encounters,PROVIDER,providers,Id,partial join,"210 out of 1104 values in encounters[PROVIDER] not present in providers[Id]: e755f853-29a9-3772-b889-589c1c172021,08703819-4d5c-3998-9de3-6ef611285bbc,51850f28-6e0a-374f-a50a-948ebf407226,93f77048-5bfd-3a59-9ae4-4399fbd77398,18cc4159-3360-38cf-8ce2-839fb21bedbd,ef6360ac-7d6f-3204-bd31-e1e63fcb0f41,e4cac565-c0a3-3bd1-b0d3-741c3c47881a,c2448f94-4dfd-3330-b9f8-cb975ab790c3,40371261-c4fb-3fba-b3d1-60f47aa0e68f,b274d84c-d063-3cec-a8f1-f85c9bf03bb9,..."

### Loosen Search Criteria

In more murky scenarios, you can try loosening search criteria. This method increases the posibility of false positives. First, set ``include_many_to_many=True`` and evaluate if it helps:

In [14]:
find_relationships(dirty_tables, include_many_to_many=True, coverage_threshold=1)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 21, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:m,providers,GENDER,patients,GENDER,1.0,1.000000,0,0,2,2,5000,1050
1,m:m,patients,GENDER,providers,GENDER,1.0,1.000000,0,0,2,2,1050,5000
2,m:m,patients,Id,encounters,PATIENT,1.0,0.853971,0,0,1000,1171,1050,53346

The results above detect the relationship from 'encounters' to 'patients', but there are two problems:

   * The relationship indicates a direction from 'patients' to 'encounters' which is an inverse of the expected. This is because all
     'patients' happened to be covered by 'encounters' (coverage_from is 1.0) while 'encounters' are only partially covered
     by 'patients' (coverage_to = 0.85), since patients rows are missing.
   * There is an accidental match on a low cardinality 'GENDER' column, which happens to match by name and value in both tables,
     but it is not an "m:1" relationship that we are interested in. The low cardinality is indicated by 'n_unique_from' and
     'n_unique_to' columns.

Rerun ``find_relationships`` to look only for "m:1" relationships, but with a lower ``coverage_threshold=0.5``:

In [15]:
find_relationships(dirty_tables, include_many_to_many=False, coverage_threshold=0.5)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 22, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:1,encounters,PROVIDER,providers,Id,0.809783,0.1788,0,0,1104,5000,53346,5000

The results above show the correct direction of the relationships from 'encounters' to 'providers'. However, the relationship from 'encounters' to 'patients' is not detected, because 'patients' is not unique, so it cannot be on the "One" side of "m:1" relationship.
     
Loosen both ``include_many_to_many=True`` and ``coverage_threshold=0.5``:

In [16]:
find_relationships(dirty_tables, include_many_to_many=True, coverage_threshold=0.5)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 23, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:m,providers,GENDER,patients,GENDER,1.000000,1.000000,0,0,2,2,5000,1050
1,m:m,patients,GENDER,providers,GENDER,1.000000,1.000000,0,0,2,2,1050,5000
2,m:m,encounters,PATIENT,patients,Id,0.853971,1.000000,0,0,1171,1000,53346,1050
3,m:m,patients,Id,encounters,PATIENT,1.000000,0.853971,0,0,1000,1171,1050,53346
4,m:1,encounters,PROVIDER,providers,Id,0.809783,0.178800,0,0,1104,5000,53346,5000
5,m:m,encounters,ORGANIZATION,providers,ORGANIZATION,0.811423,0.986770,0,0,1103,907,53346,5000
6,m:m,providers,ORGANIZATION,encounters,ORGANIZATION,0.986770,0.811423,0,0,907,1103,5000,53346

Now we are seeing both relationships of interest, but there is a lot more noise:

   * The low cardinality match on 'GENDER' is present
   * A higher cardinality "m:m" match on 'ORGANIZATION' appeared. This makes it apparent that the 'ORGANIZATION' is likely
     a column denormalized to both tables.

### Match Column Names

By default, SemPy will consider as matches only attributes that show name similarity, taking advantage of the fact that
database designers usually name related columns the same way. This helps to avoid spurious relationships, which occur most frequently with low cardinality integer keys. For example, if there are 1,2,3...10 product categories and 1,2,3...10 order status codes they will be confused with each other when only looking at value mappings without taking column names into account. Spurious relationships
should not be a problem with GUID like keys.

SemPy looks at a similarity between column names and table names. The matching is approximate and case insensitive. It ignores the most frequently encountered "decorator" substrings such as "id", "code", "name", "key", "pk", "fk". As a result the most typical match cases are:

   * an attribute 'column' in entity 'foo' will matched with an attribute called 'column'
     (also 'COLUMN' or 'Column') in 'bar'.
   * an attribute 'column' in entity 'foo' will be matched with an attribute called 'column_id' in 'bar'.
   * an attribute 'bar' in entity 'foo' will be matched with an attribute called 'code' in 'bar'

As a positive side effect, matching columns name first helps the detection run faster.

To understand which columns are selected for further evaluation, use ``verbose=2`` option
(``verbose=1`` lists only the entities being processed).

``name_similarity_threshold`` parameter determines how columns will be compared. The threshold of 1 indicates that we are interested in 100% match only:

In [17]:
find_relationships(dirty_tables, verbose=2, name_similarity_threshold=1.0);

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 24, Finished, Available)

Searching for relationships between tables patients and providers
  Columns GENDER and GENDER
  Columns ADDRESS and ADDRESS
  Columns CITY and CITY
  Columns STATE and STATE
  Columns ZIP and ZIP
  Columns LAT and LAT
  Columns LON and LON
Searching for relationships between tables patients and encounters
Searching for relationships between tables providers and encounters
  Columns ORGANIZATION and ORGANIZATION
No relationships found

Running at 100% similarity fails to account for small differences between names. In our example, the tables have a plural form with "s" suffix, which results in no exact match. This is handled very well with our default ``name_similarity_threshold=0.8``. Notice that the Id for plural form 'patients' is now compared to singular 'patient' without adding too many other spurious comparisons to our execution time:

In [24]:
find_relationships(dirty_tables, verbose=2, name_similarity_threshold=0.8);

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 31, Finished, Available)

Searching for relationships between tables patients and providers
  Columns LAST and LAT
  Columns GENDER and GENDER
  Columns ADDRESS and ADDRESS
  Columns CITY and CITY
  Columns STATE and STATE
  Columns ZIP and ZIP
  Columns LAT and LAT
  Columns LON and LON
Searching for relationships between tables patients and encounters
  Columns Id and PATIENT
  Columns STATE and START
Searching for relationships between tables providers and encounters
  Columns Id and PROVIDER
  Columns ORGANIZATION and ORGANIZATION
  Columns NAME and PROVIDER
  Columns STATE and START
No relationships found

Changing ``name_similarity_threshold`` to 0 is the other extreme, and it indicates that we want to compare all columns. This is rarely necessary and will result in increased execution time and spurious matches that will need to be reviewed. Observe the amount of comparisons in the verbose output:

In [19]:
find_relationships(dirty_tables, verbose=2, name_similarity_threshold=0);

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 26, Finished, Available)

Searching for relationships between tables patients and providers
  Columns Id and Id
  Columns Id and ORGANIZATION
  Columns Id and NAME
  Columns Id and GENDER
  Columns Id and SPECIALITY
  Columns Id and ADDRESS
  Columns Id and CITY
  Columns Id and STATE
  Columns Id and ZIP
  Columns Id and LAT
  Columns Id and LON
  Columns Id and UTILIZATION
  Columns BIRTHDATE and Id
  Columns BIRTHDATE and ORGANIZATION
  Columns BIRTHDATE and NAME
  Columns BIRTHDATE and GENDER
  Columns BIRTHDATE and SPECIALITY
  Columns BIRTHDATE and ADDRESS
  Columns BIRTHDATE and CITY
  Columns BIRTHDATE and STATE
  Columns BIRTHDATE and ZIP
  Columns BIRTHDATE and LAT
  Columns BIRTHDATE and LON
  Columns BIRTHDATE and UTILIZATION
  Columns DEATHDATE and Id
  Columns DEATHDATE and ORGANIZATION
  Columns DEATHDATE and NAME
  Columns DEATHDATE and GENDER
  Columns DEATHDATE and SPECIALITY
  Columns DEATHDATE and ADDRESS
  Columns DEATHDATE and CITY
  Columns DEATHDATE and STATE
  Columns DEATHDATE and ZIP
  Columns DEATHDATE and LAT
  Columns DEATHDATE and LON
  Columns DEATHDATE and UTILIZATION
  Columns SSN and Id
  Columns SSN and ORGANIZATION
  Columns SSN and NAME
  Columns SSN and GENDER
  Columns SSN and SPECIALITY
  Columns SSN and ADDRESS
  Columns SSN and CITY
  Columns SSN and STATE
  Columns SSN and ZIP
  Columns SSN and LAT
  Columns SSN and LON
  Columns SSN and UTILIZATION
  Columns DRIVERS and Id
  Columns DRIVERS and ORGANIZATION
  Columns DRIVERS and NAME
  Columns DRIVERS and GENDER
  Columns DRIVERS and SPECIALITY
  Columns DRIVERS and ADDRESS
  Columns DRIVERS and CITY
  Columns DRIVERS and STATE
  Columns DRIVERS and ZIP
  Columns DRIVERS and LAT
  Columns DRIVERS and LON
  Columns DRIVERS and UTILIZATION
  Columns PASSPORT and Id
  Columns PASSPORT and ORGANIZATION
  Columns PASSPORT and NAME
  Columns PASSPORT and GENDER
  Columns PASSPORT and SPECIALITY
  Columns PASSPORT and ADDRESS
  Columns PASSPORT and CITY
  Columns PASSPORT and STATE
  Columns PASSPORT and ZIP
  Columns PASSPORT and LAT
  Columns PASSPORT and LON
  Columns PASSPORT and UTILIZATION
  Columns PREFIX and Id
  Columns PREFIX and ORGANIZATION
  Columns PREFIX and NAME
  Columns PREFIX and GENDER
  Columns PREFIX and SPECIALITY
  Columns PREFIX and ADDRESS
  Columns PREFIX and CITY
  Columns PREFIX and STATE
  Columns PREFIX and ZIP
  Columns PREFIX and LAT
  Columns PREFIX and LON
  Columns PREFIX and UTILIZATION
  Columns FIRST and Id
  Columns FIRST and ORGANIZATION
  Columns FIRST and NAME
  Columns FIRST and GENDER
  Columns FIRST and SPECIALITY
  Columns FIRST and ADDRESS
  Columns FIRST and CITY
  Columns FIRST and STATE
  Columns FIRST and ZIP
  Columns FIRST and LAT
  Columns FIRST and LON
  Columns FIRST and UTILIZATION
  Columns LAST and Id
  Columns LAST and ORGANIZATION
  Columns LAST and NAME
  Columns LAST and GENDER
  Columns LAST and SPECIALITY
  Columns LAST and ADDRESS
  Columns LAST and CITY
  Columns LAST and STATE
  Columns LAST and ZIP
  Columns LAST and LAT
  Columns LAST and LON
  Columns LAST and UTILIZATION
  Columns SUFFIX and Id
  Columns SUFFIX and ORGANIZATION
  Columns SUFFIX and NAME
  Columns SUFFIX and GENDER
  Columns SUFFIX and SPECIALITY
  Columns SUFFIX and ADDRESS
  Columns SUFFIX and CITY
  Columns SUFFIX and STATE
  Columns SUFFIX and ZIP
  Columns SUFFIX and LAT
  Columns SUFFIX and LON
  Columns SUFFIX and UTILIZATION
  Columns MAIDEN and Id
  Columns MAIDEN and ORGANIZATION
  Columns MAIDEN and NAME
  Columns MAIDEN and GENDER
  Columns MAIDEN and SPECIALITY
  Columns MAIDEN and ADDRESS
  Columns MAIDEN and CITY
  Columns MAIDEN and STATE
  Columns MAIDEN and ZIP
  Columns MAIDEN and LAT
  Columns MAIDEN and LON
  Columns MAIDEN and UTILIZATION
  Columns MARITAL and Id
  Columns MARITAL and ORGANIZATION
  Columns MARITAL and NAME
  Columns MARITAL and GENDER
  Columns MARITAL and SPECIALITY
  Columns MARITAL and ADDRESS
  Columns MARITAL and CITY
  Columns MARITAL and STATE
  Columns MARITAL and ZIP
  Columns MARITAL and LAT
  Columns MARITAL and LON
  Columns MARITAL and UTILIZATION
  Columns RACE and Id
  Columns RACE and ORGANIZATION
  Columns RACE and NAME
  Columns RACE and GENDER
  Columns RACE and SPECIALITY
  Columns RACE and ADDRESS
  Columns RACE and CITY
  Columns RACE and STATE
  Columns RACE and ZIP
  Columns RACE and LAT
  Columns RACE and LON
  Columns RACE and UTILIZATION
  Columns ETHNICITY and Id
  Columns ETHNICITY and ORGANIZATION
  Columns ETHNICITY and NAME
  Columns ETHNICITY and GENDER
  Columns ETHNICITY and SPECIALITY
  Columns ETHNICITY and ADDRESS
  Columns ETHNICITY and CITY
  Columns ETHNICITY and STATE
  Columns ETHNICITY and ZIP
  Columns ETHNICITY and LAT
  Columns ETHNICITY and LON
  Columns ETHNICITY and UTILIZATION
  Columns GENDER and Id
  Columns GENDER and ORGANIZATION
  Columns GENDER and NAME
  Columns GENDER and GENDER
  Columns GENDER and SPECIALITY
  Columns GENDER and ADDRESS
  Columns GENDER and CITY
  Columns GENDER and STATE
  Columns GENDER and ZIP
  Columns GENDER and LAT
  Columns GENDER and LON
  Columns GENDER and UTILIZATION
  Columns BIRTHPLACE and Id
  Columns BIRTHPLACE and ORGANIZATION
  Columns BIRTHPLACE and NAME
  Columns BIRTHPLACE and GENDER
  Columns BIRTHPLACE and SPECIALITY
  Columns BIRTHPLACE and ADDRESS
  Columns BIRTHPLACE and CITY
  Columns BIRTHPLACE and STATE
  Columns BIRTHPLACE and ZIP
  Columns BIRTHPLACE and LAT
  Columns BIRTHPLACE and LON
  Columns BIRTHPLACE and UTILIZATION
  Columns ADDRESS and Id
  Columns ADDRESS and ORGANIZATION
  Columns ADDRESS and NAME
  Columns ADDRESS and GENDER
  Columns ADDRESS and SPECIALITY
  Columns ADDRESS and ADDRESS
  Columns ADDRESS and CITY
  Columns ADDRESS and STATE
  Columns ADDRESS and ZIP
  Columns ADDRESS and LAT
  Columns ADDRESS and LON
  Columns ADDRESS and UTILIZATION
  Columns CITY and Id
  Columns CITY and ORGANIZATION
  Columns CITY and NAME
  Columns CITY and GENDER
  Columns CITY and SPECIALITY
  Columns CITY and ADDRESS
  Columns CITY and CITY
  Columns CITY and STATE
  Columns CITY and ZIP
  Columns CITY and LAT
  Columns CITY and LON
  Columns CITY and UTILIZATION
  Columns STATE and Id
  Columns STATE and ORGANIZATION
  Columns STATE and NAME
  Columns STATE and GENDER
  Columns STATE and SPECIALITY
  Columns STATE and ADDRESS
  Columns STATE and CITY
  Columns STATE and STATE
  Columns STATE and ZIP
  Columns STATE and LAT
  Columns STATE and LON
  Columns STATE and UTILIZATION
  Columns COUNTY and Id
  Columns COUNTY and ORGANIZATION
  Columns COUNTY and NAME
  Columns COUNTY and GENDER
  Columns COUNTY and SPECIALITY
  Columns COUNTY and ADDRESS
  Columns COUNTY and CITY
  Columns COUNTY and STATE
  Columns COUNTY and ZIP
  Columns COUNTY and LAT
  Columns COUNTY and LON
  Columns COUNTY and UTILIZATION
  Columns ZIP and Id
  Columns ZIP and ORGANIZATION
  Columns ZIP and NAME
  Columns ZIP and GENDER
  Columns ZIP and SPECIALITY
  Columns ZIP and ADDRESS
  Columns ZIP and CITY
  Columns ZIP and STATE
  Columns ZIP and ZIP
  Columns ZIP and LAT
  Columns ZIP and LON
  Columns ZIP and UTILIZATION
  Columns LAT and Id
  Columns LAT and ORGANIZATION
  Columns LAT and NAME
  Columns LAT and GENDER
  Columns LAT and SPECIALITY
  Columns LAT and ADDRESS
  Columns LAT and CITY
  Columns LAT and STATE
  Columns LAT and ZIP
  Columns LAT and LAT
  Columns LAT and LON
  Columns LAT and UTILIZATION
  Columns LON and Id
  Columns LON and ORGANIZATION
  Columns LON and NAME
  Columns LON and GENDER
  Columns LON and SPECIALITY
  Columns LON and ADDRESS
  Columns LON and CITY
  Columns LON and STATE
  Columns LON and ZIP
  Columns LON and LAT
  Columns LON and LON
  Columns LON and UTILIZATION
  Columns HEALTHCARE_EXPENSES and Id
  Columns HEALTHCARE_EXPENSES and ORGANIZATION
  Columns HEALTHCARE_EXPENSES and NAME
  Columns HEALTHCARE_EXPENSES and GENDER
  Columns HEALTHCARE_EXPENSES and SPECIALITY
  Columns HEALTHCARE_EXPENSES and ADDRESS
  Columns HEALTHCARE_EXPENSES and CITY
  Columns HEALTHCARE_EXPENSES and STATE
  Columns HEALTHCARE_EXPENSES and ZIP
  Columns HEALTHCARE_EXPENSES and LAT
  Columns HEALTHCARE_EXPENSES and LON
  Columns HEALTHCARE_EXPENSES and UTILIZATION
  Columns HEALTHCARE_COVERAGE and Id
  Columns HEALTHCARE_COVERAGE and ORGANIZATION
  Columns HEALTHCARE_COVERAGE and NAME
  Columns HEALTHCARE_COVERAGE and GENDER
  Columns HEALTHCARE_COVERAGE and SPECIALITY
  Columns HEALTHCARE_COVERAGE and ADDRESS
  Columns HEALTHCARE_COVERAGE and CITY
  Columns HEALTHCARE_COVERAGE and STATE
  Columns HEALTHCARE_COVERAGE and ZIP
  Columns HEALTHCARE_COVERAGE and LAT
  Columns HEALTHCARE_COVERAGE and LON
  Columns HEALTHCARE_COVERAGE and UTILIZATION
Searching for relationships between tables patients and encounters
  Columns Id and Id
  Columns Id and START
  Columns Id and STOP
  Columns Id and PATIENT
  Columns Id and ORGANIZATION
  Columns Id and PROVIDER
  Columns Id and PAYER
  Columns Id and ENCOUNTERCLASS
  Columns Id and CODE
  Columns Id and DESCRIPTION
  Columns Id and BASE_ENCOUNTER_COST
  Columns Id and TOTAL_CLAIM_COST
  Columns Id and PAYER_COVERAGE
  Columns Id and REASONCODE
  Columns Id and REASONDESCRIPTION
  Columns BIRTHDATE and Id
  Columns BIRTHDATE and START
  Columns BIRTHDATE and STOP
  Columns BIRTHDATE and PATIENT
  Columns BIRTHDATE and ORGANIZATION
  Columns BIRTHDATE and PROVIDER
  Columns BIRTHDATE and PAYER
  Columns BIRTHDATE and ENCOUNTERCLASS
  Columns BIRTHDATE and CODE
  Columns BIRTHDATE and DESCRIPTION
  Columns BIRTHDATE and BASE_ENCOUNTER_COST
  Columns BIRTHDATE and TOTAL_CLAIM_COST
  Columns BIRTHDATE and PAYER_COVERAGE
  Columns BIRTHDATE and REASONCODE
  Columns BIRTHDATE and REASONDESCRIPTION
  Columns DEATHDATE and Id
  Columns DEATHDATE and START
  Columns DEATHDATE and STOP
  Columns DEATHDATE and PATIENT
  Columns DEATHDATE and ORGANIZATION
  Columns DEATHDATE and PROVIDER
  Columns DEATHDATE and PAYER
  Columns DEATHDATE and ENCOUNTERCLASS
  Columns DEATHDATE and CODE
  Columns DEATHDATE and DESCRIPTION
  Columns DEATHDATE and BASE_ENCOUNTER_COST
  Columns DEATHDATE and TOTAL_CLAIM_COST
  Columns DEATHDATE and PAYER_COVERAGE
  Columns DEATHDATE and REASONCODE
  Columns DEATHDATE and REASONDESCRIPTION
  Columns SSN and Id
  Columns SSN and START
  Columns SSN and STOP
  Columns SSN and PATIENT
  Columns SSN and ORGANIZATION
  Columns SSN and PROVIDER
  Columns SSN and PAYER
  Columns SSN and ENCOUNTERCLASS
  Columns SSN and CODE
  Columns SSN and DESCRIPTION
  Columns SSN and BASE_ENCOUNTER_COST
  Columns SSN and TOTAL_CLAIM_COST
  Columns SSN and PAYER_COVERAGE
  Columns SSN and REASONCODE
  Columns SSN and REASONDESCRIPTION
  Columns DRIVERS and Id
  Columns DRIVERS and START
  Columns DRIVERS and STOP
  Columns DRIVERS and PATIENT
  Columns DRIVERS and ORGANIZATION
  Columns DRIVERS and PROVIDER
  Columns DRIVERS and PAYER
  Columns DRIVERS and ENCOUNTERCLASS
  Columns DRIVERS and CODE
  Columns DRIVERS and DESCRIPTION
  Columns DRIVERS and BASE_ENCOUNTER_COST
  Columns DRIVERS and TOTAL_CLAIM_COST
  Columns DRIVERS and PAYER_COVERAGE
  Columns DRIVERS and REASONCODE
  Columns DRIVERS and REASONDESCRIPTION
  Columns PASSPORT and Id
  Columns PASSPORT and START
  Columns PASSPORT and STOP
  Columns PASSPORT and PATIENT
  Columns PASSPORT and ORGANIZATION
  Columns PASSPORT and PROVIDER
  Columns PASSPORT and PAYER
  Columns PASSPORT and ENCOUNTERCLASS
  Columns PASSPORT and CODE
  Columns PASSPORT and DESCRIPTION
  Columns PASSPORT and BASE_ENCOUNTER_COST
  Columns PASSPORT and TOTAL_CLAIM_COST
  Columns PASSPORT and PAYER_COVERAGE
  Columns PASSPORT and REASONCODE
  Columns PASSPORT and REASONDESCRIPTION
  Columns PREFIX and Id
  Columns PREFIX and START
  Columns PREFIX and STOP
  Columns PREFIX and PATIENT
  Columns PREFIX and ORGANIZATION
  Columns PREFIX and PROVIDER
  Columns PREFIX and PAYER
  Columns PREFIX and ENCOUNTERCLASS
  Columns PREFIX and CODE
  Columns PREFIX and DESCRIPTION
  Columns PREFIX and BASE_ENCOUNTER_COST
  Columns PREFIX and TOTAL_CLAIM_COST
  Columns PREFIX and PAYER_COVERAGE
  Columns PREFIX and REASONCODE
  Columns PREFIX and REASONDESCRIPTION
  Columns FIRST and Id
  Columns FIRST and START
  Columns FIRST and STOP
  Columns FIRST and PATIENT
  Columns FIRST and ORGANIZATION
  Columns FIRST and PROVIDER
  Columns FIRST and PAYER
  Columns FIRST and ENCOUNTERCLASS
  Columns FIRST and CODE
  Columns FIRST and DESCRIPTION
  Columns FIRST and BASE_ENCOUNTER_COST
  Columns FIRST and TOTAL_CLAIM_COST
  Columns FIRST and PAYER_COVERAGE
  Columns FIRST and REASONCODE
  Columns FIRST and REASONDESCRIPTION
  Columns LAST and Id
  Columns LAST and START
  Columns LAST and STOP
  Columns LAST and PATIENT
  Columns LAST and ORGANIZATION
  Columns LAST and PROVIDER
  Columns LAST and PAYER
  Columns LAST and ENCOUNTERCLASS
  Columns LAST and CODE
  Columns LAST and DESCRIPTION
  Columns LAST and BASE_ENCOUNTER_COST
  Columns LAST and TOTAL_CLAIM_COST
  Columns LAST and PAYER_COVERAGE
  Columns LAST and REASONCODE
  Columns LAST and REASONDESCRIPTION
  Columns SUFFIX and Id
  Columns SUFFIX and START
  Columns SUFFIX and STOP
  Columns SUFFIX and PATIENT
  Columns SUFFIX and ORGANIZATION
  Columns SUFFIX and PROVIDER
  Columns SUFFIX and PAYER
  Columns SUFFIX and ENCOUNTERCLASS
  Columns SUFFIX and CODE
  Columns SUFFIX and DESCRIPTION
  Columns SUFFIX and BASE_ENCOUNTER_COST
  Columns SUFFIX and TOTAL_CLAIM_COST
  Columns SUFFIX and PAYER_COVERAGE
  Columns SUFFIX and REASONCODE
  Columns SUFFIX and REASONDESCRIPTION
  Columns MAIDEN and Id
  Columns MAIDEN and START
  Columns MAIDEN and STOP
  Columns MAIDEN and PATIENT
  Columns MAIDEN and ORGANIZATION
  Columns MAIDEN and PROVIDER
  Columns MAIDEN and PAYER
  Columns MAIDEN and ENCOUNTERCLASS
  Columns MAIDEN and CODE
  Columns MAIDEN and DESCRIPTION
  Columns MAIDEN and BASE_ENCOUNTER_COST
  Columns MAIDEN and TOTAL_CLAIM_COST
  Columns MAIDEN and PAYER_COVERAGE
  Columns MAIDEN and REASONCODE
  Columns MAIDEN and REASONDESCRIPTION
  Columns MARITAL and Id
  Columns MARITAL and START
  Columns MARITAL and STOP
  Columns MARITAL and PATIENT
  Columns MARITAL and ORGANIZATION
  Columns MARITAL and PROVIDER
  Columns MARITAL and PAYER
  Columns MARITAL and ENCOUNTERCLASS
  Columns MARITAL and CODE
  Columns MARITAL and DESCRIPTION
  Columns MARITAL and BASE_ENCOUNTER_COST
  Columns MARITAL and TOTAL_CLAIM_COST
  Columns MARITAL and PAYER_COVERAGE
  Columns MARITAL and REASONCODE
  Columns MARITAL and REASONDESCRIPTION
  Columns RACE and Id
  Columns RACE and START
  Columns RACE and STOP
  Columns RACE and PATIENT
  Columns RACE and ORGANIZATION
  Columns RACE and PROVIDER
  Columns RACE and PAYER
  Columns RACE and ENCOUNTERCLASS
  Columns RACE and CODE
  Columns RACE and DESCRIPTION
  Columns RACE and BASE_ENCOUNTER_COST
  Columns RACE and TOTAL_CLAIM_COST
  Columns RACE and PAYER_COVERAGE
  Columns RACE and REASONCODE
  Columns RACE and REASONDESCRIPTION
  Columns ETHNICITY and Id
  Columns ETHNICITY and START
  Columns ETHNICITY and STOP
  Columns ETHNICITY and PATIENT
  Columns ETHNICITY and ORGANIZATION
  Columns ETHNICITY and PROVIDER
  Columns ETHNICITY and PAYER
  Columns ETHNICITY and ENCOUNTERCLASS
  Columns ETHNICITY and CODE
  Columns ETHNICITY and DESCRIPTION
  Columns ETHNICITY and BASE_ENCOUNTER_COST
  Columns ETHNICITY and TOTAL_CLAIM_COST
  Columns ETHNICITY and PAYER_COVERAGE
  Columns ETHNICITY and REASONCODE
  Columns ETHNICITY and REASONDESCRIPTION
  Columns GENDER and Id
  Columns GENDER and START
  Columns GENDER and STOP
  Columns GENDER and PATIENT
  Columns GENDER and ORGANIZATION
  Columns GENDER and PROVIDER
  Columns GENDER and PAYER
  Columns GENDER and ENCOUNTERCLASS
  Columns GENDER and CODE
  Columns GENDER and DESCRIPTION
  Columns GENDER and BASE_ENCOUNTER_COST
  Columns GENDER and TOTAL_CLAIM_COST
  Columns GENDER and PAYER_COVERAGE
  Columns GENDER and REASONCODE
  Columns GENDER and REASONDESCRIPTION
  Columns BIRTHPLACE and Id
  Columns BIRTHPLACE and START
  Columns BIRTHPLACE and STOP
  Columns BIRTHPLACE and PATIENT
  Columns BIRTHPLACE and ORGANIZATION
  Columns BIRTHPLACE and PROVIDER
  Columns BIRTHPLACE and PAYER
  Columns BIRTHPLACE and ENCOUNTERCLASS
  Columns BIRTHPLACE and CODE
  Columns BIRTHPLACE and DESCRIPTION
  Columns BIRTHPLACE and BASE_ENCOUNTER_COST
  Columns BIRTHPLACE and TOTAL_CLAIM_COST
  Columns BIRTHPLACE and PAYER_COVERAGE
  Columns BIRTHPLACE and REASONCODE
  Columns BIRTHPLACE and REASONDESCRIPTION
  Columns ADDRESS and Id
  Columns ADDRESS and START
  Columns ADDRESS and STOP
  Columns ADDRESS and PATIENT
  Columns ADDRESS and ORGANIZATION
  Columns ADDRESS and PROVIDER
  Columns ADDRESS and PAYER
  Columns ADDRESS and ENCOUNTERCLASS
  Columns ADDRESS and CODE
  Columns ADDRESS and DESCRIPTION
  Columns ADDRESS and BASE_ENCOUNTER_COST
  Columns ADDRESS and TOTAL_CLAIM_COST
  Columns ADDRESS and PAYER_COVERAGE
  Columns ADDRESS and REASONCODE
  Columns ADDRESS and REASONDESCRIPTION
  Columns CITY and Id
  Columns CITY and START
  Columns CITY and STOP
  Columns CITY and PATIENT
  Columns CITY and ORGANIZATION
  Columns CITY and PROVIDER
  Columns CITY and PAYER
  Columns CITY and ENCOUNTERCLASS
  Columns CITY and CODE
  Columns CITY and DESCRIPTION
  Columns CITY and BASE_ENCOUNTER_COST
  Columns CITY and TOTAL_CLAIM_COST
  Columns CITY and PAYER_COVERAGE
  Columns CITY and REASONCODE
  Columns CITY and REASONDESCRIPTION
  Columns STATE and Id
  Columns STATE and START
  Columns STATE and STOP
  Columns STATE and PATIENT
  Columns STATE and ORGANIZATION
  Columns STATE and PROVIDER
  Columns STATE and PAYER
  Columns STATE and ENCOUNTERCLASS
  Columns STATE and CODE
  Columns STATE and DESCRIPTION
  Columns STATE and BASE_ENCOUNTER_COST
  Columns STATE and TOTAL_CLAIM_COST
  Columns STATE and PAYER_COVERAGE
  Columns STATE and REASONCODE
  Columns STATE and REASONDESCRIPTION
  Columns COUNTY and Id
  Columns COUNTY and START
  Columns COUNTY and STOP
  Columns COUNTY and PATIENT
  Columns COUNTY and ORGANIZATION
  Columns COUNTY and PROVIDER
  Columns COUNTY and PAYER
  Columns COUNTY and ENCOUNTERCLASS
  Columns COUNTY and CODE
  Columns COUNTY and DESCRIPTION
  Columns COUNTY and BASE_ENCOUNTER_COST
  Columns COUNTY and TOTAL_CLAIM_COST
  Columns COUNTY and PAYER_COVERAGE
  Columns COUNTY and REASONCODE
  Columns COUNTY and REASONDESCRIPTION
  Columns ZIP and Id
  Columns ZIP and START
  Columns ZIP and STOP
  Columns ZIP and PATIENT
  Columns ZIP and ORGANIZATION
  Columns ZIP and PROVIDER
  Columns ZIP and PAYER
  Columns ZIP and ENCOUNTERCLASS
  Columns ZIP and CODE
  Columns ZIP and DESCRIPTION
  Columns ZIP and BASE_ENCOUNTER_COST
  Columns ZIP and TOTAL_CLAIM_COST
  Columns ZIP and PAYER_COVERAGE
  Columns ZIP and REASONCODE
  Columns ZIP and REASONDESCRIPTION
  Columns LAT and Id
  Columns LAT and START
  Columns LAT and STOP
  Columns LAT and PATIENT
  Columns LAT and ORGANIZATION
  Columns LAT and PROVIDER
  Columns LAT and PAYER
  Columns LAT and ENCOUNTERCLASS
  Columns LAT and CODE
  Columns LAT and DESCRIPTION
  Columns LAT and BASE_ENCOUNTER_COST
  Columns LAT and TOTAL_CLAIM_COST
  Columns LAT and PAYER_COVERAGE
  Columns LAT and REASONCODE
  Columns LAT and REASONDESCRIPTION
  Columns LON and Id
  Columns LON and START
  Columns LON and STOP
  Columns LON and PATIENT
  Columns LON and ORGANIZATION
  Columns LON and PROVIDER
  Columns LON and PAYER
  Columns LON and ENCOUNTERCLASS
  Columns LON and CODE
  Columns LON and DESCRIPTION
  Columns LON and BASE_ENCOUNTER_COST
  Columns LON and TOTAL_CLAIM_COST
  Columns LON and PAYER_COVERAGE
  Columns LON and REASONCODE
  Columns LON and REASONDESCRIPTION
  Columns HEALTHCARE_EXPENSES and Id
  Columns HEALTHCARE_EXPENSES and START
  Columns HEALTHCARE_EXPENSES and STOP
  Columns HEALTHCARE_EXPENSES and PATIENT
  Columns HEALTHCARE_EXPENSES and ORGANIZATION
  Columns HEALTHCARE_EXPENSES and PROVIDER
  Columns HEALTHCARE_EXPENSES and PAYER
  Columns HEALTHCARE_EXPENSES and ENCOUNTERCLASS

### Summary of Troubleshooting Tips

1. Start from exact match for "m:1" relationships (i.e. the default ``include_many_to_many=False`` and ``coverage_threshold=1.0`). This is usually what you want. 
2. Use a narrow focus on smaller subsets of tables.
3. Use validation to detect data quality issues
4. Use ``verbose=2`` if you want to understand which columns are considered for relationship. This can result in a large amount of output
5. Be aware of tradeoffs of search arguments. ``include_many_to_many=True`` and ``coverage_threshold<1.0`` may produce spurious relationships that may be harder to analyze and will need to be filtered.

## Detect Relationships on Full SYNTHEA Dataset

The simple baseline example above serves as a convenient learning and troubleshooting tool. In practice the dataset you will start from may have a lot more tables, an example of which is the full SYNTHEA dataset which we explore below.  

First, read all files from the 'synthea/csv' directory:

In [20]:
all_tables = {
    "allergies": pd.read_csv('synthea/csv/allergies.csv'),
    "careplans": pd.read_csv('synthea/csv/careplans.csv'),
    "conditions": pd.read_csv('synthea/csv/conditions.csv'),
    "devices": pd.read_csv('synthea/csv/devices.csv'),
    "encounters": pd.read_csv('synthea/csv/encounters.csv'),
    "imaging_studies": pd.read_csv('synthea/csv/imaging_studies.csv'),
    "immunizations": pd.read_csv('synthea/csv/immunizations.csv'),
    "medications": pd.read_csv('synthea/csv/medications.csv'),
    "observations": pd.read_csv('synthea/csv/observations.csv'),
    "organizations": pd.read_csv('synthea/csv/organizations.csv'),
    "patients": pd.read_csv('synthea/csv/patients.csv'),
    "payer_transitions": pd.read_csv('synthea/csv/payer_transitions.csv'),
    "payers": pd.read_csv('synthea/csv/payers.csv'),
    "procedures": pd.read_csv('synthea/csv/procedures.csv'),
    "providers": pd.read_csv('synthea/csv/providers.csv'),
    "supplies": pd.read_csv('synthea/csv/supplies.csv'),
}

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 27, Finished, Available)

Find relationships between the tables using  SemPy's ``find_relationships`` function:

In [21]:
suggested_relationships = find_relationships(all_tables)
suggested_relationships

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 28, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:1,allergies,ENCOUNTER,encounters,Id,1.0,0.002643,0,0,141,53346,597,53346
1,m:1,allergies,PATIENT,patients,Id,1.0,0.120410,0,0,141,1171,597,1171
2,m:1,careplans,ENCOUNTER,encounters,Id,1.0,0.065085,0,0,3472,53346,3483,53346
3,m:1,careplans,PATIENT,patients,Id,1.0,0.900085,0,0,1054,1171,3483,1171
4,m:1,conditions,ENCOUNTER,encounters,Id,1.0,0.143403,0,0,7650,53346,8376,53346
5,m:1,conditions,PATIENT,patients,Id,1.0,0.983775,0,0,1152,1171,8376,1171
6,1:1,devices,ENCOUNTER,encounters,Id,1.0,0.001462,0,0,78,53346,78,53346
7,m:1,devices,PATIENT,patients,Id,1.0,0.063194,0,0,74,1171,78,1171
8,m:1,imaging_studies,ENCOUNTER,encounters,Id,1.0,0.014884,0,0,794,53346,855,53346
9,m:1,immunizations,ENCOUNTER,encounters,Id,1.0,0.194354,0,0,10368,53346,15478,53346
10,m:1,medications,ENCOUNTER,encounters,Id,1.0,0.511172,0,0,27269,53346,42989,53346
11,m:1,observations,ENCOUNTER,encounters,Id,1.0,0.375473,30363,0,20030,53346,299697,53346
12,m:1,encounters,ORGANIZATION,organizations,Id,1.0,0.985702,0,0,1103,1119,53346,1119
13,m:1,encounters,PATIENT,patients,Id,1.0,1.000000,0,0,1171,1171,53346,1171
14,m:1,encounters,PAYER,payers,Id,1.0,1.000000,0,0,10,10,53346,10
15,m:1,procedures,ENCOUNTER,encounters,Id,1.0,0.395006,0,0,21072,53346,34981,53346
16,m:1,encounters,PROVIDER,providers,Id,1.0,0.188557,0,0,1104,5855,53346,5855
17,m:1,imaging_studies,PATIENT,patients,Id,1.0,0.210931,0,0,247,1171,855,1171
18,m:1,immunizations,PATIENT,patients,Id,1.0,0.998292,0,0,1169,1171,15478,1171
19,m:1,medications,PATIENT,patients,Id,1.0,0.945346,0,0,1107,1171,42989,1171
20,m:1,medications,PAYER,payers,Id,1.0,1.000000,0,0,10,10,42989,10
21,m:1,observations,PATIENT,patients,Id,1.0,1.000000,0,0,1171,1171,299697,1171
22,m:1,providers,ORGANIZATION,organizations,Id,1.0,1.000000,0,0,1119,1119,5855,1119
23,m:1,payer_transitions,PATIENT,patients,Id,1.0,0.839453,0,0,983,1171,3801,1171
24,m:1,procedures,PATIENT,patients,Id,1.0,0.994876,0,0,1165,1171,34981,1171
25,m:1,payer_transitions,PAYER,payers,Id,1.0,1.000000,0,0,10,10,3801,10

Visualize relationships:

In [22]:
plot_relationship_metadata(suggested_relationships)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 29, Finished, Available)

Count how many new "m:m" relationships we will discover with ``include_many_to_many=True`` (these will be in addition to the previously shown "m:1" relationships, so we will do filtering on ``multiplicity``):

In [26]:
suggested_relationships = find_relationships(all_tables, coverage_threshold=1.0, include_many_to_many=True) 
suggested_relationships[suggested_relationships['Multiplicity']=='m:m']

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 33, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
0,m:m,allergies,PATIENT,careplans,PATIENT,1.0,0.133776,0,0,141,1054,597,3483
1,m:m,allergies,PATIENT,conditions,PATIENT,1.0,0.122396,0,0,141,1152,597,8376
2,m:m,allergies,PATIENT,encounters,PATIENT,1.0,0.120410,0,0,141,1171,597,53346
4,m:m,allergies,PATIENT,immunizations,PATIENT,1.0,0.120616,0,0,141,1169,597,15478
5,m:m,allergies,PATIENT,medications,PATIENT,1.0,0.127371,0,0,141,1107,597,42989
6,m:m,allergies,PATIENT,observations,PATIENT,1.0,0.120410,0,0,141,1171,597,299697
8,m:m,careplans,PATIENT,conditions,PATIENT,1.0,0.914931,0,0,1054,1152,3483,8376
9,m:m,careplans,PATIENT,encounters,PATIENT,1.0,0.900085,0,0,1054,1171,3483,53346
11,m:m,imaging_studies,PATIENT,careplans,PATIENT,1.0,0.234345,0,0,247,1054,855,3483
12,m:m,careplans,PATIENT,immunizations,PATIENT,1.0,0.901625,0,0,1054,1169,3483,15478
13,m:m,careplans,PATIENT,observations,PATIENT,1.0,0.900085,0,0,1054,1171,3483,299697
15,m:m,devices,PATIENT,conditions,PATIENT,1.0,0.064236,0,0,74,1152,78,8376
16,m:m,conditions,PATIENT,encounters,PATIENT,1.0,0.983775,0,0,1152,1171,8376,53346
18,m:m,imaging_studies,PATIENT,conditions,PATIENT,1.0,0.214410,0,0,247,1152,855,8376
19,m:m,conditions,PATIENT,observations,PATIENT,1.0,0.983775,0,0,1152,1171,8376,299697
21,m:m,devices,PATIENT,encounters,PATIENT,1.0,0.063194,0,0,74,1171,78,53346
23,m:m,devices,PATIENT,immunizations,PATIENT,1.0,0.063302,0,0,74,1169,78,15478
24,m:m,devices,PATIENT,observations,PATIENT,1.0,0.063194,0,0,74,1171,78,299697
26,m:m,devices,PATIENT,procedures,PATIENT,1.0,0.063519,0,0,74,1165,78,34981
28,m:m,imaging_studies,PATIENT,encounters,PATIENT,1.0,0.210931,0,0,247,1171,855,53346
30,m:m,immunizations,PATIENT,encounters,PATIENT,1.0,0.998292,0,0,1169,1171,15478,53346
32,m:m,medications,PATIENT,encounters,PATIENT,1.0,0.945346,0,0,1107,1171,42989,53346
33,m:m,medications,PAYER,encounters,PAYER,1.0,1.000000,0,0,10,10,42989,53346
34,m:m,encounters,PAYER,medications,PAYER,1.0,1.000000,0,0,10,10,53346,42989
36,m:m,observations,PATIENT,encounters,PATIENT,1.0,1.000000,0,0,1171,1171,299697,53346
37,m:m,encounters,PATIENT,observations,PATIENT,1.0,1.000000,0,0,1171,1171,53346,299697
40,m:m,payer_transitions,PATIENT,encounters,PATIENT,1.0,0.839453,0,0,983,1171,3801,53346
41,m:m,payer_transitions,PAYER,encounters,PAYER,1.0,1.000000,0,0,10,10,3801,53346
42,m:m,encounters,PAYER,payer_transitions,PAYER,1.0,1.000000,0,0,10,10,53346,3801
45,m:m,procedures,PATIENT,encounters,PATIENT,1.0,0.994876,0,0,1165,1171,34981,53346
46,m:m,encounters,ORGANIZATION,providers,ORGANIZATION,1.0,0.985702,0,0,1103,1119,53346,5855
48,m:m,imaging_studies,PATIENT,immunizations,PATIENT,1.0,0.211292,0,0,247,1169,855,15478
49,m:m,imaging_studies,PATIENT,medications,PATIENT,1.0,0.223126,0,0,247,1107,855,42989
50,m:m,imaging_studies,PATIENT,observations,PATIENT,1.0,0.210931,0,0,247,1171,855,299697
52,m:m,imaging_studies,PATIENT,procedures,PATIENT,1.0,0.212017,0,0,247,1165,855,34981
53,m:m,immunizations,PATIENT,observations,PATIENT,1.0,0.998292,0,0,1169,1171,15478,299697
55,m:m,medications,PATIENT,observations,PATIENT,1.0,0.945346,0,0,1107,1171,42989,299697
57,m:m,payer_transitions,PAYER,medications,PAYER,1.0,1.000000,0,0,10,10,3801,42989
58,m:m,medications,PAYER,payer_transitions,PAYER,1.0,1.000000,0,0,10,10,42989,3801
61,m:m,payer_transitions,PATIENT,observations,PATIENT,1.0,0.839453,0,0,983,1171,3801,299697
62,m:m,procedures,PATIENT,observations,PATIENT,1.0,0.994876,0,0,1165,1171,34981,299697
64,m:m,providers,ADDRESS,organizations,ADDRESS,1.0,1.000000,0,0,1006,1006,5855,1119
65,m:m,organizations,ADDRESS,providers,ADDRESS,1.0,1.000000,0,0,1006,1006,1119,5855
66,m:m,providers,CITY,organizations,CITY,1.0,1.000000,0,0,317,317,5855,1119
67,m:m,organizations,CITY,providers,CITY,1.0,1.000000,0,0,317,317,1119,5855
68,m:m,providers,STATE,organizations,STATE,1.0,1.000000,0,0,1,1,5855,1119
69,m:m,organizations,STATE,providers,STATE,1.0,1.000000,0,0,1,1,1119,5855
70,m:m,providers,ZIP,organizations,ZIP,1.0,1.000000,0,0,1003,1003,5855,1119
71,m:m,organizations,ZIP,providers,ZIP,1.0,1.000000,0,0,1003,1003,1119,5855
72,m:m,providers,LAT,organizations,LAT,1.0,1.000000,0,0,343,343,5855,1119
73,m:m,organizations,LAT,providers,LAT,1.0,1.000000,0,0,343,343,1119,5855
74,m:m,providers,LON,organizations,LON,1.0,1.000000,0,0,344,344,5855,1119
75,m:m,organizations,LON,providers,LON,1.0,1.000000,0,0,344,344,1119,5855
76,m:m,organizations,UTILIZATION,providers,UTILIZATION,1.0,0.995475,0,0,220,221,1119,5855
79,m:m,providers,GENDER,patients,GENDER,1.0,1.000000,0,0,2,2,5855,1171
80,m:m,patients,GENDER,providers,GENDER,1.0,1.000000,0,0,2,2,1171,5855

You can sort the relationship data by various columns to gain a deeper understanding of their nature. For example, you could choose to order the output by ``'Row Count From'`` and ``'Row Count To'``, which will help identify the largest tables. In a different dataset, maybe it will be inportant to focus on number of nulls 'n_nulls_from' or 'coverage_to'.

This analysis can help understand if any of the relationships could be invalid, and if you need to remove them from the list of candidates.

In [34]:
suggested_relationships.sort_values(['Row Count From', 'Row Count To'], ascending=False)

StatementMeta(, f6d37edc-863a-452c-b8b8-58f93c2c1ef0, 41, Finished, Available)

,Multiplicity,From Table,From Column,To Table,To Column,Coverage From,Coverage To,Null Count From,Null Count To,Unique Count From,Unique Count To,Row Count From,Row Count To
35,m:1,observations,ENCOUNTER,encounters,Id,1.0,0.375473,30363,0,20030,53346,299697,53346
36,m:m,observations,PATIENT,encounters,PATIENT,1.0,1.000000,0,0,1171,1171,299697,53346
60,m:1,observations,PATIENT,patients,Id,1.0,1.000000,0,0,1171,1171,299697,1171
37,m:m,encounters,PATIENT,observations,PATIENT,1.0,1.000000,0,0,1171,1171,53346,299697
34,m:m,encounters,PAYER,medications,PAYER,1.0,1.000000,0,0,10,10,53346,42989
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,1:1,devices,ENCOUNTER,encounters,Id,1.0,0.001462,0,0,78,53346,78,53346
26,m:m,devices,PATIENT,procedures,PATIENT,1.0,0.063519,0,0,74,1165,78,34981
23,m:m,devices,PATIENT,immunizations,PATIENT,1.0,0.063302,0,0,74,1169,78,15478
15,m:m,devices,PATIENT,conditions,PATIENT,1.0,0.064236,0,0,74,1152,78,8376
25,m:1,devices,PATIENT,patients,Id,1.0,0.063194,0,0,74,1171,78,1171

## Next step

Try using the learned ways of detecting data quality issues on your data and get amazed with the discoveries!

## Related content

Check out other tutorials for Semantic Link / SemPy:
1. Clean Data with Functional Dependencies
1. Discover Relationships in a PowerBI Dataset Using Semantic Link
1. Analyze functional dependencies in a Power BI sample dataset
1. Extract and Calculate PowerBI Measures from Jupyter Notebook